<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReportUtils.Listeners" />
    </listeners>
    <test verbose="2" preserve-order="true" name="test">
        <classes>
            <class name="org.ulAppiumFramework.ulLogin">
                <methods>
                    <include name="AppLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>